html {
    scroll-behavior: smooth;
  }

  body {
    background-color: aliceblue;
    /* color: #61876E; */
    /* color: #1B1B1B; */
    color:#242124;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: grid;
    flex-direction: column;
}

header {
    color:#242124;
    font-family: 'Raleway', sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px 20px;
    border: 1px solid  #242124;
    border-radius: 5px;
    text-align: right;
}
header img {
    height: 100%;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.intro {
    /* border: 1px solid black;  */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 12rem auto;
    width: 50rem;
    height: 30rem;
    top: 25%;
    left: 25%;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1)
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
h1 {
    font-size: 100px;
    opacity: 0;
    filter: blur(1rem);
    animation: fade-in 1s 0.4s 
        forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.aboutMe-link, .portfolio-link, .contact-link {
    opacity: 0;
    filter: blur(1rem);
    animation: fade-in 1.5s 0.4s 
        forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0)
    }
}

.hello{
    margin: 50px 0 0 0;
    /* border: 1px solid black;  */
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    padding: 5px 0 5px 0px;
}
.catherine {
    margin: 0;
    /* border: 1px solid black; */
    grid-row: 3 / span 3;
    grid-column: 3 / span 3;
    padding: 0px 0 5px 0px;
}

.aboutMe-link {
    grid-row: 5 / span 1;
    grid-column: 5 / span 1;
    align-self: flex-end;
    text-align: right;
    text-decoration: none;
    color:#242124;
    /* border: 1px solid black; */
}
.portfolio-link {
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
    align-self: flex-end;
    text-align: right;
    text-decoration: none;
    color:#242124;
    width: 12rem;
    /* border: 1px solid black; */
}
.contact-link {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    width: 8rem;
    align-self: flex-start;
    text-decoration: none;
    color:#242124;
}

.contact-link:hover, .portfolio-link:hover, .aboutMe-link:hover {
    font-size: 130%;
    font-weight: bold;    

}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12rem;
    padding: 10rem auto;
}
.aboutMe-p {
    width: 60rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12rem auto 15rem auto;
}

.p4-content, .p3-content, .p2-content, .p1-content {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.p4-stack, .p3-stack, .p2-stack, .p1-stack{
    list-style-type: none;  
    line-height: 2rem;
}
.p-container, .p3, .p2, .p1 {
    margin: 3rem;
}
.p4-desc, .p2-desc, .p3-desc, .p1-desc {
    width: 30rem;
    grid-column: 2 / span 1;
    margin: 1rem;
}
.bookclub-img, .recipe-img {
    grid-column: 1 / span 1;
}
.p3-desc, .p1-desc {
    width: 30rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;;
    margin: 1rem;
}
.eventMate-img, .tictactoe-img {
    grid-column: 2 / span 1;

}


.tictactoe-img, .recipe-img {
    width: 23rem;
    height: 22rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
    margin: 1rem;
}
.eventMate-img, .bookclub-img {
    width: 30rem;
    height: 22rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
    margin: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20rem;
}

.contactBtns {
    display: flex;
    flex-direction: row;
}

.linkBtns {
    width: 3rem;
    height: 3rem;
    margin: 1rem 2rem;
}

.footer {
    margin: 5rem;
}